<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} | {{ config.title }}{% elif section.title %}{{ section.title }} | {{ config.title }}{% else %}{{ config.title }}{% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" sizes="48x48">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class="default-theme">
    <div class="container">
      {% include "header.html" %}
      <main>
        {% block content %} {% endblock content %}
      </main>
    </div>
  </body>
</html>
