{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<ul class="post-list">
  {% for page in paginator.pages %}
    <li class="post">
      <article>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </article>
    </li>
  {% endfor %}
</ul>
<nav class="pagination">
  {% if paginator.previous %}
  <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
  {% endif %}
  {% if paginator.next %}
  <a class="next" href="{{ paginator.next }}">Next ></a>
  {% endif %}
</nav>
{% endblock content %}
